*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
aclocal.m4
autom4te.cache
build-stamp
config
config.log
config.guess
config.status
config.sub
configure
m4
debian/files
debian/tmp
debian/vyatta-util
debian/libvyatta-util1
debian/libvyatta-util-dev
debian/*.debhelper.log
debian/*.substvars
INSTALL
Makefile.in
Makefile

