Source: vyatta-util
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-util
Architecture: all
Depends: 
 libvyatta-util1 (=${binary:Version})
Description: Various utilities 

Package: libvyatta-util1
Architecture: any
Description: Vyatta utilities library
 Vyatta utilities library (libvyatta-util).

Package: libvyatta-util-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libvyatta-util1 (=${binary:Version}),
Description: libvyatta-util development package
 Development header and library files for the Vyatta utilities 
 library.

