Source: vyatta-util
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, cpio, libtool
Standards-Version: 3.7.2

Package: vyatta-util
Architecture: any
Depends: 
 libvyatta-util1 (=${binary:Version})
Description: Various utilities 

Package: libvyatta-util1
Architecture: any
Description: Vyatta utilities library
 VyOS utilities library (libvyatta-util).

Package: libvyatta-util-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libvyatta-util1 (=${binary:Version}),
Description: libvyatta-util development package
 Development header and library files for the VyOS utilities 
 library.

